<div class="adminpage">

<h1> File Editor </h1>
<!--
<input type="text" id="filename" ng-options="x for x in names" ng-model="adminFilename"><br>
 <div class="container-fluid" ng-controller="adminCtrl">
-->


 <div class="container-fluid">
    <div class="row">
	        <div class="col-md-12 col-xs-12">
			<select ng-model="adminFilename" ng-options="x for x in filenames"></select><br>
			<textarea class="form-control" id="html_content" style="height:400" width="100%"></textarea>
			<button id="save" ng-click="adminSave(adminFilename)">Save</button>
			<!--
			<button id="load" ng-click="adminLoad()">load</button>
			ng-model="fileContents">
			-->
			</div>		
	</div>
	<h2>Site Content</h2>
      <select ng-model="site_content_select" 
        ng-options="content.key for content in site_content">
      </select>
	  <textarea class="form-control" ng-model="site_content_edit_text_field" style="height:300" width="100%"></textarea>	  
	  <button id="save" ng-click="saveContentChanges(site_content_select.key, site_content_edit_text_field)">Save</button><br>
	  
	<button id="JumpToBottomButton" style="margin-top:17px;" ng-click="goToBottom()">Jump To Bottom </button> 
	<br>  
	<h2>Music Gigs</h2>	
	
	<table class="table table-bordered" ng-show="musicGigs.length">	
		<tr>
			<th>Payout</th>			
			<th>Comments</th>
			<th>Type</th>
			<th>Paid</th>
			<th>Method</th>
			<th>User</th>
			<th>DateTime</th>	
		</tr>	
		<tr ng-repeat="x in musicGigs">
			<td style="text-align:right;padding-right:25px">${{x.payout | number:2}}</td>
			<td>{{x.comments }}</td>
			<td>{{x.type }}</td>
			<td ng-if="x.paid == 0">No</td>
			<td ng-if="x.paid != 0">Yes</td>
			<td>{{x.method }}</td>
			<td>{{x.username}}</td>
			<td>{{x.time | date:'mediumDate'}}</td>	
		</tr>
	</table>		  	  	 
	<button ng-click="getMusicEntries()">Refresh Music Gigs</button> 
	<h3>Log Gig</h3>
	<form ng-submit="logGig()">	
	
		<table class="table table-bordered" style="table-layout:fixed;width:100%;">		
			<tr>
				<th>Payout</th>
				<th>Comments</th>
				<th>Type</th>
				<th>Date</th>
			</tr>	
			<tr>	
				<td><input type="number" name="price" ng-model="gig.payout"  step="0.01" min="0" max="9999.99"></td>
				<td><input type="text" name="comments" ng-model="gig.comments"></td>
				<td>   
				 <select ng-model="gig.type" ng-options="i as i.type for i in venues" ></select>
				</td>
				<td>
					<div class="input-group date" data-provide="datepicker">
						<input ng-model="gigdate" type="text" class="form-control">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
				</td>
				<td><input type="text" name="comments" ng-model="gig.date"></td>				
			</tr>
		</table>
		<div class="span6" style="padding-bottom:4px";>	
			<button type="submit">Insert New Gig</button>
			<button type="reset" value="Reset">Clear Fields</button>
		</div>	
	</form>
	<h2>Entries</h2>
	<table class="table table-bordered" ng-show="entries.length">	
		<tr>
			<th>Price</th>
			<th>Comments</th>
			<th>Category</th>
			<th>User</th>
			<th>DateTime</th>	
		</tr>	
		<tr ng-repeat="x in entries">
			<td style="text-align:right;padding-right:25px">${{x.price | number:2}}</td>
			<td>{{x.comments }}</td>
			<td>{{x.category_name }}</td>
			<td>{{x.username}}</td>
			<td>{{x.date_time | date:'medium'}}</td>	
		</tr>
	</table>
	<button ng-click="refreshBudgetEntries()">Refresh User Entries</button>
	<br>
	<h3>Stats</h3>

	<table id="stats_table" class="table bordered">
		<tr>
			<th>Start Date</th>
			<th>Total Spent</th>
			<th>Avg Per Day </th>
		</tr>
		<tr>
		    <td><span>{{stats.date}}</span><br></td>
			<td><span id="currency-default">{{stats.total | currency}}</span><br></td>	
			<td><span id="currency-default">{{stats.avg_per_day| currency}}</span><br></td>
		</tr>
	</table>
		<button ng-click="calculateStats()">Re-Calculate</button>
	
	<!-- *******************************************************************-->

	<h3>Insert New Entry</h3>
	<form ng-submit="insertNewEntry()">	
	
	<table class="table table-bordered hidden-md hidden-lg" style="table-layout:fixed;width:100%;">	
		<col width="20%"/>
		<col width="50%"/>
		<col width="30%"/>		
		<tr>
			<th>Price</th>
			<th>Comments</th>
			<th>Category</th>
		</tr>	
		<tr>	
		<!--ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"-->
			<td><input type="number" name="price" ng-model="entry.price"  step="0.01" min="0" max="9999.99"></td>
			<td><input type="text" name="comments" ng-model="entry.comments"></td>
			<td>   
			 <select ng-model="entry.category" ng-options="i as i.category_name for i in categories" ></select>
			</td>
		</tr>
	</table>
	<table class="table table-bordered table-responsive hidden-sm hidden-xs" id="mobile_insert_entry_table">	
		<tr>
			<th>Price</th>
			<th>Comments</th>
			<th>Category</th>
			<th>User</th>
		</tr>	
		<tr>	
			<td><input type="number" name="price" ng-model="entry.price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" max="9999.99"></td>
			<td><input type="text" name="comments" ng-model="entry.comments"></td>
			<td>   
			<select ng-model="entry.category" ng-options="i as i.category_name for i in categories" ></select>
			</td>
			<td>{{ returnUser() }}</td>
		</tr>
	</table>	
	<div class="span6" style="padding-bottom:4px";>	
		<button type="submit">Insert New Entry</button>
		<button type="reset" value="Reset">Clear Fields</button>
	</div>	
	</form>	
	<!-- *******************************************************************-->
	
<div ng-show="AlertMessage.active" class="fadein fadeout">

    <div ng-repeat="(key,val) in alerts" class="alert {{key}}">

        <div ng-repeat="msg in val track by $index">				

			{{msg}}			

		</div>   

	</div>
</div>
</div>

</div>