.aboutme_content{
font-size: 18px;
}

.container
{
	min-height:100%;
	margin-left: auto;
	margin-right: auto;
	background-color:#ffffff;
	font-size: 110%;	
}
.resume
{
//background-color: #ffffff;

}

#myheader{

	background-color:#666666;
	.border-radius( 5px );
	width: 100%;
	color: white;
	background-size: cover;
	
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img 
{
     display: block;
     max-width: 100%;
     height: 500px !important;
}
#pagelist{
font-size: 16px;
}

/*---------------------- Animations ------------------*/

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
