.aboutme_content{
font-size: 16px;
}
.container
{
	min-height:100%;
	margin-left: auto;
	margin-right: auto;
	/*
	background-color:#e0e0eb;
	*/
	font-size: 110%;	
	
}

html{
	overflow-y:hidden;
}

body
{
background-image:url("images/coffee_house.jpg");
background-attachment: fixed;
height: 100%;
width:100%;
overflow-x:hidden;
background-repeat:no-repeat;
background-size:100% 100%;
}

.content
{
	margin-left: auto;
    margin-right: auto;
	width: 100%;
}

.nav {
    margin: -15px;
    display: table;
    width: 100%;
}


 .nav > li > a:hover,
 .nav > li > a:focus 
{	
	text-decoration: none;
    background-color: white; /*/ Change rollover cell color here*/
	font-weight: bold;		
}

.navbar-nav > li{
  margin-left:15px;
  margin-right:15px;
}


.myicons
{
  -webkit-transition:all 0.3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -ms-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
}
.myicons:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}
.myicons
{
	margin-right:12px
}


#pagelist > li > a:hover,
#pagelist > li > a:focus 
{
 font-weight: bold;  /*change color of links in drop down here*/
 font-color: green;
}
#pagelist
{
	font-color:green;
	font-weight:bold;
}

#myheader{

	background-color:#666666;	
	width: 100%;
	color: white;
	background-size: cover;
	font-size:18px;
	
}
#myfooter
{
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img 
{
     display: block;
     max-width: 100%;
     height: 500px !important;
}

/*---------------------- Animations ------------------*/

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
