
.aboutme_content{
}
#myheader{	
width:100%;
background-color:#666666;
color:white;
z-index:1000;
margin-top:0px;
padding-top:0px;
padding-bottom:20px; 
border-color:grey;
border-radius:5px;
border-style:solid;
border-width: 3px;
border-color:light-grey
}

#resume_html_content
{
	font-size:96%;
}

#mymaincontainer
{
	background-image:url('images/plain-grey.jpg');
	min-height:95%;
	opacity:.95;
	font-family: Cabin;
	src: url("cabin/Cabin.otf") format("opentype");
	font-size:120%;
}
body { 
    padding-top: 65px; 
	background-color:#666666;

	/*
	
	background-image:url('images/Sky-Blue.jpg');
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-size:cover;
	background-size:100% 100%;
	*/
	height:100%;	
}
.container
{

}
#pagelist
{
font-size:95%;
}



.nav {
    margin: -15px;
    display: table;
    width: 100%;
}


 .nav > li > a:hover,
 .nav > li > a:focus 
{	
	text-decoration: none;
    background-color: white; /*/ Change rollover cell color here*/
	font-weight: bold;		
}

.navbar-nav > li{
  margin-left:15px;
  margin-right:15px;
}


.myicons
{
  -webkit-transition:all 0.3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -ms-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
}
.myicons:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}
.myicons
{
	margin-right:12px
}


#pagelist > li > a:hover,
#pagelist > li > a:focus 
{
 font-weight: bold;  /*change color of links in drop down here*/
 font-color: green;
}
#pagelist
{
	font-color:green;
	font-weight:bold;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
/*
myheader old background-color:#666666;	
*/


#myfooter
{
	font-size:130%;
	font-family: Cabin;
	src: url("cabin/Cabin.otf") format("opentype");
	text-align:center;
	color:#d9d9d9

}
#greeting
{
	font-size:95%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img 
{
     max-width: 100%;
     height: 500px !important;
}
.projects_content
{
	font-size: 120%;
}
/*---------------------- Animations ------------------*/

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
